<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Chat Plugin Flutter</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>chat_plugin_flutter_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSBonjourServices</key>
	<array>
		<string>_dartobservatory._tcp</string>
		<string>_hura.asia-dev._googlecast._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Sending photo and video call</string>
	<key>NSContactsUsageDescription</key>
	<string>NetAlo will continously upload your contacts to its heavily encrypted cloud servers to let you connect with your friends quickly</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>${PRODUCT_NAME} sử dụng mạng cục bộ để khám phá các thiết bị hỗ trợ Cast trên mạng Wi-Fi của bạn.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>If you’d like to share your Location with friends, DLink needs location access to use this feature</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>If you’d like to share your Location with friends, DLink needs location access to use this feature</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Using voice call</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Sending photo and updating your profile</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>fetch</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>voip</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
